body {	background-color: black;	}

h1 { 
	text-align: center;	
	font-family: arial;
	font-weight: bold;
	color: white;
	font-size: 75px;
	margin: 0px;
}

.board {	margin: auto;	}

td { 
	font-size: 100px;
	font-family: arial;
	font-weight: bold;
	color: white;
	border: 3px solid black;
	border-radius: 5px;
	height: 150px;
	width: 150px;
	background-color: grey;	
	text-align: center;
	-webkit-user-select: none;
}

.circle{	background-color: red;	}
.cross {	background-color: blue;	}
.empty {	background-color: grey;	}



button {
	height: 50px;
	width: 100px;
	font-family: arial;
	font-size: 30px;
	border-radius: 5px;
}

